C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "SSTXP1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SSTXP1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "SSTXN1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "SSTXN1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VBUS_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VBUS_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "CC1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "CC1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "DP1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "DP1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "DN1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "DN1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "SBU1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "SBU1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "VBUS_2" 0 -800 0 0 60 0 L
X "PIN_TEXT" "VBUS_2" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "SSRXN2" 0 -900 0 0 60 0 L
X "PIN_TEXT" "SSRXN2" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "SSRXP2" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "SSRXP2" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "GND_2" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "GND_3" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "GND_3" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "SSTXP2" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "SSTXP2" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 1300 0 "SSTXN2" 1300 0 0 0 60 0 R
X "PIN_TEXT" "SSTXN2" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "VBUS_3" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "VBUS_3" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "CC2" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "CC2" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "DP2" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "DP2" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "DN2" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "DN2" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "SBU2" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "SBU2" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "VBUS_4" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "VBUS_4" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
C 1300 -700 "SSRXN1" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "SSRXN1" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -700 1300 -700 -1 0
C 1300 -800 "SSRXP1" 1300 -800 0 0 60 0 R
X "PIN_TEXT" "SSRXP1" 1070 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -800 1300 -800 -1 0
C 1300 -900 "GND_4" 1300 -900 0 0 60 0 R
X "PIN_TEXT" "GND_4" 1070 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -900 1300 -900 -1 0
C 1300 -1000 "MH1" 1300 -1000 0 0 60 0 R
X "PIN_TEXT" "MH1" 1070 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -1000 1300 -1000 -1 0
C 1300 -1100 "MH2" 1300 -1100 0 0 60 0 R
X "PIN_TEXT" "MH2" 1070 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -1100 1300 -1100 -1 0
C 1300 -1200 "MH3" 1300 -1200 0 0 60 0 R
X "PIN_TEXT" "MH3" 1070 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -1200 1300 -1200 -1 0
C 1300 -1300 "MH4" 1300 -1300 0 0 60 0 R
X "PIN_TEXT" "MH4" 1070 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -1300 1300 -1300 -1 0
L 200 100 1100 100 -1 0
L 1100 -1400 1100 100 -1 0
L 1100 -1400 200 -1400 -1 0
L 200 100 200 -1400 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

